body{
    background-image: url(image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
div{
    color: cadetblue;
    margin: 180px 195px;
    background-color:transparent;
    border: bold 20px red;
    position: fixed;
